/* ---------- root variables ---------- */
:root {
  --red: rgb(166, 38, 57);
  --light-red: rgb(219, 50, 77);
  --light-grey: rgb(162, 156, 155);
  --periwinkle: rgb(191, 215, 255);
  --text-color-yellow: #ffee93;
  --text-color-blue: #197bbd;
  --text-color-main: #56494e;
  --text-color-dark: #333;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ---------- Custome fonts ---------- */
@font-face {
  font-family: customeHeaderFooter;
  src: url("font/PocketMonk-15ze.ttf");
}

@font-face {
  font-family: customeTextFamily;
  src: url("font/PokemonGb-RAeo.ttf");
}
/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-family: customeHeaderFooter;
  font-weight: bold;
  letter-spacing: 2px;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--light-red);
  color: var(--text-main-color);
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header h1 {
  font-family: customeHeaderFooter;
  color: var(--text-color-yellow);
  -webkit-text-stroke: 2px var(--text-color-blue);
}

/* ---------- footer styling ---------- */

footer {
  background-color: var(--light-red);
  color: var(--text-main-color);
  padding: 1em;
  text-align: center;
}

footer h1 {
  font-family: customeHeaderFooter;
  color: var(--text-color-yellow);
  -webkit-text-stroke: 2px var(--text-color-blue);
}

/* ---------- main page styling ---------- */
main {
  background: var(--red);
  animation: fadeIn 0.4s;
  padding: 120px 0 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--periwinkle);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 40px;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--text-color-blue);
}

.grid-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.grid-container p {
  margin: 0.3em 0;
  font-size: 0.75em;
  font-family: customeTextFamily;
}

.p-dexindex {
  padding-bottom: 5px;
  font-weight: bold;
}

.p-type {
  padding-bottom: 10px;
  padding-top: 5px;
}

/* ---------- form styling ---------- */
/* input form stryling */
form {
  margin: 1.5em auto 0;
  background-color: var(--light-green);
  padding: 1em 1em 2em;
  text-align: center;
}

button {
  font-family: customeHeaderFooter;
  -webkit-text-stroke: 2px var(--text-color-blue);
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: var(--text-color-yellow);
  background-color: var(--red);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0.5em 0em;
  width: 100%;
  max-width: 380px;
}

/* ---------- dialog styling ---------- */

dialog {
  background-color: var(--periwinkle);
  border-radius: 50px;
}

dialog h2 {
  font-size: 2em;
}

dialog h4 {
  margin: 10px 0px;
  font-family: customeTextFamily;
  font-size: 0.8em;
}
ul {
  margin: 0px;
}

li {
  list-style-type: none;
  font-family: customeTextFamily;
  font-size: 0.75em;
  padding: 2px 0;
}
